*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: URWDIN, -apple-system, BlinkMacSystemFont, "PingFang SC", "Microsoft YaHei";
}

body{
    overflow: hidden;
}




.container-login{
    width: 100%;
    height: 100vh;
    display: flex;
    /* overflow:scroll */
   
}
.login-header{
    font-size:2rem
}

.left-content{
    height: 100vh;
    width: 42%;
    background-image: url('./assets/images/2EkvUzQ3UpZQY524XNnaF13t9A0pIZ0izrD1xOnSK.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 160%;
    grid-area: leftContent;

}

.logo-link{
    margin-top: 50px;
    margin-left: 20px;
}

.right-content{
    background-color: #fff;
    grid-area: rightContent;
    width: 58%;
    overflow:scroll

}

.sign-top-nav{
    padding-right: 30px;
    width: 100%;
    min-height: 10vh;
    display:flex;
    align-items: center;
    justify-content: flex-end;
}

.sign-link{
    text-decoration: none;
    color:#00D192;
    margin-left: 5px;
}

.sign-up-t-text{
    font-size: 0.8rem;
    columns: #B2B4BB;
}

.login-content{
    height:100%;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 50px;
}

.fa-header{
    font-size: 2rem;
    font-weight: 500;
}

.btn-e-m-q{
    width: 100%;
    /* height:50px; */
    display:flex;
    align-items: center;
}

.btn-e-m-q > button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.btn-e-m-q > button:hover {
    border: none;
    cursor: pointer;
    color: #00D192;
}

.vertical-divider{
    height: 10px;
    background-color: rgba(128, 128, 128, 0.592);
    margin-left: 10px;
    margin-right: 10px;
    width: 0.1px;

}

.MuiInputBase-input {
    width: 95%;
    border: 0;
    height: 2.2rem;
    margin-bottom: 20px;
    background-color: #F5F5F6;
    display: block;
    padding: 6px 15px 7px;
    min-width: 0;
    box-sizing: content-box;
    border-radius: 5px;
    letter-spacing: inherit;
    -webkit-tap-highlight-color: transparent;
}

.MuiInputBase-input:focus-within{
    border: 1px solid #00D192;
    outline: none;
}
/* .MuiInputBase-input:hover{
    border: 1px solid #b2b2ba95;
    outline: none;
} */


.input-label-text{
    color: #9A9A9A;
    font-size: 0.7rem;
    margin-bottom: 10px;
}
.input-label-text1{
    color: #9A9A9A;
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.pri-btn{
    border: none;
    background-color:#24AE8F;
    width:100%;
    display:flex;
    color:white;
    padding-left:0;
    padding-right:0;
    height: 2.6rem;
    cursor: pointer;
    border-radius: 5px;
    font-size:1.1rem;
    align-items: center;
    justify-content: center;
    text-decoration: none;

}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid red;
    border-right: 16px solid red;
    border-bottom: 16px solid red;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.check-lebel{
    font-size:0.9rem
}

::-webkit-scrollbar{
    width:5px;
}

::-webkit-scrollbar-thumb{
    background-color: #cfcfd6;
}
.btn-active{
    color:#24AE8F
}
.f-pass-div{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}

.f-pass-btn{
    border:none;
    background-color:transparent;
    font-size: 0.6rem;
    cursor: pointer;
}

.green-card{
    width: 100%;
    height:100px;
    background-color:#EDF9F6;
    display:flex;
    padding-left:40px;
    justify-content:center;
    flex-direction: column;
}
.g-header{
    color:#00D192;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 10px;
}
.g-text{
    color: #9A9A9A;
    font-size: 0.7rem;
}

@media only screen and (max-width: 1200px){
   
    /*Tablets [601px -> 1200px]*/
}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
}
@media only screen and (max-width: 690px){
    .container-login{
        width: 100%;
        height: 100vh;

       
    }

    .sign-top-nav{
        display:none
    }

    .left-content{
        display:none;
        width: 100%;
        background-color: #00D192;
    }
    .right-content{
        width:100%;
        grid-area: rightContent;
        width: 100%;
    
    }

    .login-content{
        width: 100%;
        height:100%;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 50px;
    }
	/*Small smartphones [325px -> 425px]*/
}

.main {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
}
  
/* Hide the default checkbox */
input[type=checkbox] {
    visibility: hidden;
}
  
/* Creating a custom checkbox
based on demand */
.geekmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border:1px solid black;
    border-radius: 3px;
}
  


/* Specify the background color to be
shown when checkbox is active */
.main input:active ~ .geekmark {
    background-color: #24AE8F;
}
  
/* Specify the background color to be
shown when checkbox is checked */
.main input:checked ~ .geekmark {
    background-color: #24AE8F;
    border:none;
}
  

.geekmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Display checkmark when checked */
.main input:checked ~ .geekmark:after {
    display: block;
}
  

.main .geekmark:after {
    left: 6px;
    bottom: 6px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



.disactivate-input{
    display:none;
    width: 0;
    height:0
}

::selection {
    color: white;
    background: #24AE8F;
  }


  ::-moz-selection { /* Code for Firefox */
    color: white;
    background: #24AE8F;
  }